.infoCardsContainerWrap{
  background-color: #F9F9F9;
}

//card styles
.photoFrame{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #C4C4C4;
  position: relative;
}

.infoCardWrap{
  width: 360px;
  margin-right: 150px;
  margin-bottom: 130px;
  .titleH3{
    font-size: 28px;
    line-height: 34px;
    margin: 30px 0 20px;
  }
  .generalInfoDescription{
    margin: 0 0 20px;
  }
  .swiperElUl{
    margin-left: 22px;
    li{
      margin-bottom: 10px;
      &::before{
        top: 10px;
        width: 6px;
        height: 6px;
        left: -20px;
      }
    }
  }
}
.infoCardsContainer{
  padding: 160px 0 154px;
  display: flex;
  flex-wrap: wrap;
  li:first-child {
    .photoFrame{
      width: 70px;
      height: 70px;
    }
    .k-spinner--spin{
      display: block !important;
    }
  }

}

.k-spinner--spin{
  position: absolute !important;
  color: #0093E6 !important;
  --spinner-size: 100px !important;
  top: -15px;
  left: -15px;
  display: none !important;
  background-image: radial-gradient(circle at center, transparent 57%, currentColor 62%, currentColor 40%, transparent 67%) !important;
  animation-duration: 9s !important;
}

