.main {
  background-color: #fff;
}

//mainInfo block
.mainInfo {
  background-color: #F9F9F9;
  height: 1590px;
}

.bg {
  height: 700px;
  width: 1725px;
  background-image: url('../images/mainInfoBg.jpg');
  background-repeat: no-repeat;
  position: relative;
}

.bgWrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.titleH1 {
  color: rgba(74, 77, 78, 0.8);;
  font-weight: bold;
  font-size: 180px;
  position: absolute;
  bottom: -96px;
  left: 130px;
}

.generalInfo {
  margin-top: 270px;
}

.generalInfoWrap {
  display: flex;
}

.generalInfoCol {
  max-width: 490px;

  &:first-child {
    margin-right: 160px;
  }

  &:nth-child(2) {
    margin-right: 110px;
  }
}

.titleH3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

.generalInfoDescription {
  margin: 20px 0 95px;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.button {
  cursor: pointer;
  transition: all .3s;
  font-family: 'Roboto', sans-serif;
  border: 1px solid transparent;
  background: #0093E6;
  border-radius: 10px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 94px;
  outline: none;

  &:hover {
    background-color: #0084cf;
  }
}

.generalInfoList {
  li {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
      max-width: 190px;
      line-height: 21px;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
      transition: all .3s;
    }

    &:hover a {
      color: #0093E6;
    }
  }

  li:before {
    display: block;
    content: '';
    width: 54px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 54px;
    background: #C4C4C4;
    margin-right: 36px;
  }
}

//details block
.mainDetailsWrap {
  margin-top: 318px;
  position: relative;
}

.titleH2 {
  font-weight: bold;
  font-size: 50px;
  line-height: 110%;
}

.mainDetailsInfo {
  margin-top: 115px;
  padding: 0 0 0 130px;
  background-color: #F9F9F9;
  width: 1725px;
  height: 1300px;
  position: relative;
  box-sizing: border-box;
}

.detailsInfoWrap {
  width: 1270px;
}

.titleWrap {
  display: flex;
  align-items: center;
  margin-bottom: 73px;
  padding-top: 360px;
}

.line {
  height: 3px;
  background-color: #0093E6;
  flex: 1;
  margin-left: 9px;
}

.detailsListWrap {
  .number {
    font-size: 50px;
    color: #0093E6;
    margin-right: 30px;
  }

  ul {
    height: 290px;
    width: 100%;
    overflow: hidden;

    div {
      width: 490px;
      margin-right: 73px;
    }
  }

  li {
    margin-left: 45px;
    display: flex;
    align-items: baseline;
    width: 45%;
    float: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 36px;
  }
}

.detailsImg {
  position: absolute;
  margin-top: 121px;
  left: -195px;
}

.titleH4 {
  font-weight: bold;
  font-size: 30px;
  width: 360px;
}

.optionsListWrap {
  overflow: hidden;

  li {
    cursor: default;
    width: 50%;
    font-weight: bold;
    float: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &::before {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #0093E6;
      margin-right: 22px;
    }
  }
}

.detailsInfo {
  margin-top: 121px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .detailsInfoIn {
    width: 490px;
    margin-right: 35px;

    .description {
      margin-bottom: 66px;
    }
  }
}


